.custom-slider {
    background-color: transparent;
    position: relative;
  }
  
  .custom-slider-nav {
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
  }
  
  .custom-slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .awssld__content {
    background: #0a0908;
  }